header{
    position: relative;
    top: 0px;
    border : 2px solid black;
    padding: 5px;
    width: 100vw;
    display: flex;
}
body{
    /* background-image: url('../sakua.mov'); */
    background-size: 100% auto;
    background-repeat: repeat;
}

video{
    position: absolute;
    height: 120vh;
    z-index: -1;
    opacity: 0.5;
}